.jumbotron{
    background-color: black;
    color: red;
    text-align: center;
    font-size: 20px;
    padding: 200px;
    margin: 200px;
    border-radius: 1000px;

}


    body{
        background-color: black;
    }

.solomon{
    border: 1px white solid;
}


